div.head-search-bar {
    input {
        min-width: 300px;
            max-width: 400px;
            height: 3rem;
            outline: none;
            border: 1px solid #d8d8dd;
            color: #424247;
            display: block;
            font-size: 1.3rem;
            border-radius: 5px;
            font-weight: 600;
            text-indent: 1rem;
    }
}